.wrapper {
  margin-top: 20px;
  width: 754px;
}

.inner {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.selectDestination {
  padding: 10px;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
  line-height: 17px;
  color: #5b6262;
  cursor: not-allowed;
}

.planeImg {
  width: 40px;
  height: 40px;
}

.button {
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: background-color 0.35s;
}

.button:hover {
  background-color: #006dce;
}
