.entering {
  opacity: 0;
  transform: translateY(20px);
}
.entered {
  opacity: 1;
  transform: translateY(0px);
}
.exiting {
  opacity: 0;
  transform: translateY(20px);
}
.exited {
  opacity: 0;
  transform: translateY(20px);
}
.enter {
  opacity: 0;
  transform: translateX(30px);
}
.enterActive {
  opacity: 1;
  transition: all 0.5s ease-in;
  transform: translateX(0px);
}
.exit {
  opacity: 1;
  transform: translateX(0px);
}
.exitActive {
  opacity: 0;
  transition: all 0.5s ease-in;
  transform: translateX(20px);
}
