.header,
.destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #2196f3;
  font-size: 24px;
  letter-spacing: 0;
}

.destination {
  text-align: left;
  margin-top: 15px;
  line-height: 17px;
}

.destinationCol {
  flex-basis: 140px;
}

.destinationHeader {
  color: #a0b0b9;
}

.duration {
  text-transform: lowercase;
}

.ticketsField {
  transition: all 0.5s;
  transform: translateY(20px);
}
