.sortingPanel {
  display: flex;
  line-height: 18px;

  li {
    width: 167px;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #dfe5ec;
    background-color: #fff;
  }

  .left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
  }

  .center {
  }

  .right {
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .active {
    color: #fff;
    background-color: #2196f3;
    border: 0;
    transition: all 0.35s;
  }
}
