.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.sideBar {
  width: 232px;
}

.content {
  width: 502px;
}

.sectionTickets,
.sectionButton {
  margin-top: 20px;
}

.sectionButton {
  margin-bottom: 30px;
}

.sectionTickets li:not(:last-child) {
  margin-bottom: 20px;
}
