.mainWrapper,
.sectionButton {
  margin-top: 20px;
}

.searchField {
  margin: 0 auto;
  width: 200px;
  transition: all 0.5s;
  transform: translateY(0px);
}

.ticketsField {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sideBar {
  width: 232px;
}

.content {
  width: 502px;

  &:last-child {
    margin-bottom: 30px;
  }
}
